#GameScreen {
    height: 700px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
#BoardScreen {
    background-color: yellow;
}
#DiceScreen {
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}
#DiceRollButton {
    background-color: red;
    font-size: 7rem;
    text-align: center;
}
#DiceLabel {
    background-color: lime;
    font-size: 7rem;
    text-align: center;
}
#DiceContainer {
    background-color: #DBFF00;
}